@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container welcome-page">
    <div class="jumbotron white-bg">
        <h1>
            <i class="glyphicon glyphicon-user"></i>
        </h1>
        <p>Stand-alone service for authentication and authorization</p>
        <p><small></small></p>
    </div>
</div>
