@model Laboremus_AuthorizationService.Models.AccountViewModels.ForgotPasswordConfirmationViewModel

@{
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
    ViewData["Title"] = "Forgot password confirmation";
}

<link href="~/css/signin.css" rel="stylesheet" />
<div id="forgot-password-confirmation">
    <div class="forgot-password-heading">
        <h2 class="text-center title font-bold">NATIONAL ID VERIFICATION SYSTEM</h2>
        <h3>@ViewData["Title"]</h3>
        <p>
            An email with further instructions has been sent to
            <a href="mailto:@Model.Email" class="font-bold">@Model.Email</a>
            Please check your mail to reset the password.
        </p>
    </div>
</div>

