@using Microsoft.Extensions.Configuration;
@using Laboremus_AuthorizationService.Core.Extensions;
@model Laboremus_AuthorizationService.Frontend.Account.LoginViewModel
@{
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}
@inject IConfiguration _configuration;

<link href="~/css/signin.css" rel="stylesheet" />
<div class="signin-page">
    <div class="login-sub-heading">
        <h3 class="text-center title">NATIONAL ID VERIFICATION SYSTEM</h3>
        <p> Enter the credentials provided by your system administrator</p>
    </div>
    @if (Model.EnableLocalLogin)
    {
        <form asp-route="Login" class="m-t-xs" role="form" id="login-form">
            <input type="hidden" asp-for="ReturnUrl" />
            <div class="validation-alert-wrapper">
                <partial name="_ValidationSummary" />
            </div>
            <div class="form-group signin-form m-b-sm">
                <input type="email" class="form-control " asp-for="Username" autofocus required="">
                <label id="username-label" class="label-active control-label" asp-for="Username">Email</label>
                <span asp-validation-for="Username" class="text-danger field-validation-message"></span>
            </div>
            <div class="form-group signin-form m-b-sm">
                @*<span id="password-icon" class="fa fa-eye-slash icon"></span>*@
                <input type="password" class="form-control" asp-for="Password" autocomplete="off" required="">
                <label id="password-label" asp-for="Password">Password</label>
                <span asp-validation-for="Password" class="text-danger field-validation-message"></span>
            </div>

            @if (Model.AllowRememberLogin)
            {
                <div class="form-group login-remember">
                    <label asp-for="RememberLogin">
                        <input asp-for="RememberLogin">
                        Remember My Login
                    </label>
                </div>
            }

        <div class="row m-t-lg last-item">
            @if (_configuration.GetPasswordEnabled())
            {
                <div class="col-6 m-t-sm forgot-password-wrapper">
                    <a id="forgot-password"
                       asp-controller="Account"
                       asp-action="ForgotPassword">
                        Forgot password?
                    </a>
                </div>
                <div class="col-6 signin-wrapper">
                    <button class="btn btn-outline btn-link" id="login-button" name="button" value="login">SIGN IN</button>
                </div>
            } 
            else
            {
                <div class="col-6 signin-wrapper m-t-lg">
                    <button class="btn btn-outline btn-link" id="login-button" name="button" value="login">SIGN IN</button>
                </div> 
	        }
            
        </div>


            @*<button class="btn btn-default" name="button" value="cancel">Cancel</button>*@
        </form>
                }

    @if (Model.EnableLocalLogin && Model.VisibleExternalProviders.Any())
    {
        <div class="hr-section other-logins">or log in with</div>
    }

    @if (Model.VisibleExternalProviders.Any())
    {
        var colors = new string[] { "primary", "info" };
        var counter = 0;

        foreach (var provider in Model.VisibleExternalProviders)
        {
            <a class=" other-logins btn btn-@(colors[counter]) block  m-b"
               asp-controller="Account"
               asp-action="ExternalLogin"
               asp-route-provider="@provider.AuthenticationScheme"
               asp-route-returnUrl="@Model.ReturnUrl">
                @provider.DisplayName
            </a>

            counter++;
        }

    }

    @if (!Model.EnableLocalLogin && !Model.VisibleExternalProviders.Any())
    {
        <div class="alert alert-warning">
            <strong>Invalid login request</strong>
            There are no login schemes configured for this client.
        </div>
    }

    @if (!Model.EnableLocalLogin && !Model.VisibleExternalProviders.Any())
    {
        <div class="alert alert-warning">
            <strong>Invalid login request</strong>
            There are no login schemes configured for this client.
        </div>
    }
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/steps/jquery.steps.min.js"></script>
    <script src="~/js/login.js"></script>
    <partial name="_ValidationScriptsPartial" />

}