@model Laboremus_AuthorizationService.Frontend.Account.LogoutViewModel
@{
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="logout-page text-center">
    <h3>Log out</h3>
    <p>Would you like to log out of the Auth Server?</p>
    <form asp-action="Logout">
        <input type="hidden" name="logoutId" value="@Model.LogoutId" />
        <div>
            <a class="btn btn-link" id="back-button">Go back</a>
            <button class="btn btn-danger">Log out</button>
        </div>
    </form>
</div>
@section scripts
{
    <script src="~/js/logout.js"></script>
}
