
@model Laboremus_AuthorizationService.Models.AccountViewModels.ResetPasswordViewModel

@{
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}
<link href="~/css/reset.css" rel="stylesheet" />

<div id="reset-password-form" class="">
    <div class="login-sub-heading">
        <h3 class="text-center title">NATIONAL ID VERIFICATION SYSTEM</h3>
        <p>Reset your password.</p>
    </div>
    <form method="post" role="form" id="reset-password-form">
        <div asp-validation-summary="All" class="text-danger m-l-md"></div>
        <input asp-for="Code" type="hidden" />
        <div class="form-group reset-form m-b-sm">
            <input type="email" asp-for="Email" class="form-control" autofocus />
            <label id="email-label" class="label-active control-label" asp-for="Email"></label>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group reset-form m-b-sm">
            <input asp-for="Password" class="form-control" autocomplete="off" />
            <label id="password-label" asp-for="Password"></label>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group reset-form m-b-sm">
            <input asp-for="ConfirmPassword" class="form-control" autocomplete="off" />
            <label id="reset-password-label" asp-for="ConfirmPassword"></label>
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <button type="submit" id="reset-button" class="btn btn-primary text-right">Reset</button>
    </form>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/steps/jquery.steps.min.js"></script>
    <script src="~/js/reset-password.js"></script>
    <partial name="_ValidationScriptsPartial" />
}
