
@*@model ResetPasswordConfirmationModel*@
@{
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
    ViewData["Title"] = "Reset password confirmation";
}

<link href="~/css/signin.css" rel="stylesheet" />
<div class="forgot-password-heading">
    <h2 class="text-center title font-bold">NATIONAL ID VERIFICATION SYSTEM</h2>
    <p>
        Your password has been reset successfully! Please close this page, go back to the system and login with your new password.
    </p>
</div>