@model Laboremus_AuthorizationService.Frontend.Home.ErrorViewModel

@{
    var error = Model?.Error?.Error;
    var errorDescription = Model?.Error?.ErrorDescription;
    var requestId = Model?.Error?.RequestId;
}
<style type="text/css">.error-page { padding: 15px; }</style>

<div class="container error-page white-bg">
    <h1>Sorry, there was an error!</h1>
    <br/>
    <div class="row">
        <div class="col-sm-8">
            <div class="alert alert-danger">

                @if (error != null)
                {
                    <strong>
                        <em>
                            @error:
                        </em>
                    </strong>

                    if (errorDescription != null)
                    {
                        <span>@errorDescription</span>
                    }
                }


            </div>
            <div>That's all we know.</div><br/><br/>
            @if (requestId != null)
            {
                <div class="request-id">Request Id: @requestId<br/></div>
            }

        </div>
    </div>
</div>

