@{
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
    ViewData["Title"] = "Whoops!";
}

    <div class="forgot-password-heading">
        <h2 class="text-center title font-bold">NATIONAL ID VERIFICATION SYSTEM</h2>
        <h3 class="text-danger">@ViewData["Title"]</h3>
        <p>The page you are trying to reach doesnot exist.</p>
    </div>