name: CI

env:
  AZURE_WEBAPP_NAME: devops002    
  AZURE_WEBAPP_PACKAGE_PATH: '.'      
  DOTNET_VERSION: '3.1.x'                

on:
  push:
#     branches: [ main ] 
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}
          source-url: ${{ secrets.NUGET_URL }}
        env:
          NUGET_AUTH_TOKEN: ${{ secrets.NUGET_TOKEN }}
          
      - name: Add nuget source
        run: dotnet nuget add source https://api.nuget.org/v3/index.json -n nuget.org
          
      - name: .Net build
        run: dotnet build --configuration Release

      - name: dotnet publish
        run: dotnet publish -c Release -o ${{env.DOTNET_ROOT}}/myapp

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v2
        with:
          name: .net-app
          path: ${{env.DOTNET_ROOT}}/myapp
